:root {
	--clr-red: hsl(0, 78%, 62%);
	--clr-cyan: hsl(180, 62%, 55%);
	--clr-orange: hsl(34, 97%, 64%);
	--clr-blue: hsl(212, 86%, 64%);

	--clr-neutral-500: hsl(234, 12%, 34%);
	--clr-neutral-400: hsl(212, 6%, 44%);
	--clr-neutral-100: hsl(0, 0%, 100%);

	--fw-light: 200;
	--fw-regular: 400;
	--fw-semibold: 600;

	--ff-base: 'Poppins', sans-serif;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

body {
	/* 3. Add accessible line-height */
	line-height: 1.7;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

h1,
h2,
h3 {
	line-height: 1;
}

/* General Styling */

* body {
	font-family: var(--ff-base);
}
