:root {
	--clr-red: hsl(0, 78%, 62%);
	--clr-cyan: hsl(180, 62%, 55%);
	--clr-orange: hsl(34, 97%, 64%);
	--clr-blue: hsl(212, 86%, 64%);

	--clr-neutral-500: hsl(234, 12%, 34%);
	--clr-neutral-400: hsl(212, 6%, 44%);
	--clr-neutral-100: hsl(0, 0%, 100%);

	--fw-light: 200;
	--fw-regular: 400;
	--fw-semibold: 600;

	--ff-base: 'Poppins', sans-serif;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

body {
	/* 3. Add accessible line-height */
	line-height: 1.7;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

h1,
h2,
h3 {
	line-height: 1;
}

/* General Styling */

body {
	font-family: var(--ff-base);
	font-size: 0.75rem;
	background-color: var(--clr-neutral-100);
	padding: 3rem 1.75rem;
	color: var(--clr-neutral-500);
}

header {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	margin-bottom: 3rem;
}

.product__header {
	font-weight: var(--fw-light);
}

.product__header-highlight {
	font-weight: var(--fw-semibold);
	display: block;
	margin-top: 0.35rem;
}

.product__header-text {
	font-size: 0.9rem;
	text-align: center;
}

.product__cards {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	align-items: center;
}

.product__card {
	height: 14rem;
	border-radius: 0.5rem;
	box-shadow: 0px 6px 15px -3px rgba(194, 188, 194, 0.7);
	padding: 2rem 2rem 2rem 2rem;
}

.product__card--supervisor {
	border-top: 4px var(--clr-cyan) solid;
}

.product__card--team-builder {
	border-top: 4px var(--clr-red) solid;
}

.product__card--karma {
	border-top: 4px var(--clr-orange) solid;
}

.product__card--calculator {
	border-top: 4px var(--clr-blue) solid;
}

.product__card-title {
	margin-bottom: 0.5rem;
	font-weight: var(--fw-semibold);
}

.product__card-text {
	font-size: 0.85rem;
	line-height: 1.25rem;
	margin-bottom: 1.5rem;
}

.product__card-icon {
	display: flex;
	flex-direction: column;
}

img {
	align-self: end;
}
